* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);

    background-image:
        repeating-linear-gradient(90deg,
            var(--body-pattern-primary) 0px,
            var(--body-pattern-primary) 4px,
            var(--body-pattern-secondary) 4px,
            var(--body-pattern-secondary) 5px);
}

.banner {
    height: 260px;
    border: 2px solid var(--third-background);
    clip-path: var(--corner-pixel);

    background:
        repeating-linear-gradient(90deg,
            var(--primary-background) 0px,
            var(--primary-background) 30px,
            var(--third-background) 30px,
            var(--third-background) 31px);
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.banner h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--primary-color);

    text-shadow:
        3px 3px 0 var(--secondary-background);
}

.banner p {
    margin: 0;
    color: var(--gray-dark);
    font-size: 1rem;
    letter-spacing: 2px;
}

.sidebar-left,
.sidebar-right {
    gap: 1rem;
    display: grid;
}

.main-layout {
    margin-top: 20px;
    display: grid;
    gap: 24px;

    grid-template-columns:
        280px 1fr 280px;
}

.window {
    border: var(--border-primary);
    background: var(--primary-color);
    clip-path: var(--corner-pixel);
}

.window-title {
    padding: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    background: var(--third-background);
    text-shadow: 1px 1px 0 var(--pink-darker);
}

.window-content {
    padding: 20px;
}

.large-window {
    min-height: 700px;
}

.action-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: var(--action-button-border);
    background: var(--primary-background);
    color: var(--gray-dark);
    font-weight: bold;
    cursor: pointer;
    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.action-button:hover {
    border: var(--action-button-border);
    background-color: var(--secondary-background);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.action-button:active {
    transform: translateY(2px);
}

.save-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: var(--save-button-border);
    background: var(--save-button-bg);
    color: var(--save-button-color);
    font-weight: bold;
    cursor: pointer;
    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.save-button:hover {
    border: var(--save-button-border);
    background-color: #739337;
    color: var(--primary-color);
    transform: translateY(-2px);
}

.menu-button {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: var(--menu-button-border);
    background: var(--menu-button-bg);
    color: var(--secondary-color);
    cursor: pointer;
    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.menu-button:hover {
    background: var(--third-background);
    transform: translateY(-2px);
}

.empty-message {
    padding: 30px;
    text-align: center;
    border: 3px dashed var(--save-button-bg);
    background: var(--primary-color);
    color: var(--secondary-color);
}

.stat-row {
    margin-bottom: 10px;
}


.modal-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.p-dialog-mask {
    background-color: #00000048;
}

.p-dialog {
    background-color: var(--primary-color);
    border: var(--border-primary);
    clip-path: var(--corner-pixel);
    width: 400px;
}

.p-dialog-title {
    background-color: var(--third-background);
    padding: 25px;
    text-shadow: 1px 1px 0 var(--secondary-background);
    color: var(--primary-color);
    font-weight: 800;
}

.p-dialog-header-icon {
    border: 2px solid var(--secondary-background);
    background: var(--primary-background);
    padding: 3px;
    color: var(--primary-color);
    clip-path: var(--corner-pixel);
    position: absolute;
    right: 10px;
    top: 15px;
}

.p-dialog-header-icon:hover {
    border: 2px solid var(--secondary-background);
    background: var(--secondary-background);
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media (max-width: 1450px) {
    .homepage {
        width: 95%;
    }
}

@media (max-width: 1000px) {
    .main-layout {
        grid-template-columns: 1fr;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .large-window {
        min-height: 500px;
    }
}