:root {
    --yellow: #ffc759ff;
    --pink: rgb(255, 171, 192);
    --pink-darker: rgb(233, 119, 148);
    --white: #f8f7ff;
    --gray-light: #e8e9edff;
    --gray-dark: #4f4f6b;
    --gray: #7a7a96;

    --border-yellow: 3px solid var(--yellow);
    --corner-pixel: polygon(3px 0,
            calc(100% - 3px) 0,
            calc(100% - 3px) 3px,
            100% 3px,
            100% calc(100% - 3px),
            calc(100% - 3px) calc(100% - 3px),
            calc(100% - 3px) 100%,
            3px 100%,
            3px calc(100% - 3px),
            0 calc(100% - 3px),
            0 3px,
            3px 3px);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--white);

    background-image:
        repeating-linear-gradient(90deg,
            #f8f7ff 0px,
            #f8f7ff 4px,
            #efe3de 4px,
            #efe3de 5px);
}

.homepage {
    width: 1400px;
    margin: 20px auto;
}

.banner {
    height: 260px;
    border: 3px solid var(--yellow);

    background:
        repeating-linear-gradient(90deg,
            var(--pink) 0px,
            var(--pink) 30px,
            var(--yellow) 30px,
            var(--yellow) 31px);

    clip-path: var(--corner-pixel);
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.banner h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--white);

    text-shadow:
        3px 3px 0 var(--pink-darker);
}

.banner p {
    margin: 0;
    color: var(--gray-dark);
    font-size: 1rem;
    letter-spacing: 2px;
}

.sidebar-left,
.sidebar-right {
    gap: 1rem;
    display: grid;
}

.main-layout {
    margin-top: 20px;
    display: grid;
    gap: 24px;

    grid-template-columns:
        280px 1fr 280px;
}

.window {
    border: 3px solid var(--yellow);
    background: var(--white);
    clip-path: var(--corner-pixel);
}

.window-title {
    padding: 1rem;
    color: var(--white);
    border-bottom: 2px solid var(--yellow);
    background: var(--yellow);
}

.window-content {
    padding: 20px;
}

.large-window {
    min-height: 700px;
}

.action-button {
    width: 100%;
    padding: 12px;
    margin-bottom: .5rem;
    border: 2px solid var(--yellow);
    background: var(--pink);
    color: var(--gray-dark);
    font-weight: bold;
    cursor: pointer;

    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.action-button:hover {
    background: var(--pink-darker);
    color: var(--white);
    background: var(--yellow);
    color: var(--ghost-white);
    transform: translateY(-2px);
}

.action-button:active {
    transform: translateY(2px);
}

.menu-button {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 2px solid var(--yellow);
    background: var(--white);
    color: var(--gray-dark);
    cursor: pointer;

    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.menu-button:hover {
    background: var(--gray-light);
    background: var(--yellow);
    transform: translateY(-2px);
}

.empty-message {
    padding: 30px;
    text-align: center;
    border: 2px dashed var(--yellow);
    background: var(--white);
    color: var(--gray);
}

.stat-row {
    margin-bottom: 10px;
}

.main-nav {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.nav-button {
    text-decoration: none;
    padding: 10px 16px;
    border: 3px solid var(--yellow);
    background: var(--yellow);
    color: var(--gray-dark);
    font-weight: bold;

    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.nav-button:hover {
    background: var(--pink-darker);
    border: 3px solid var(--pink-darker);
    color: var(--white);
    transform: translateY(-2px);
}

.nav-button:active {
    transform: translateY(1px);
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-window {
    width: 600px;
    color: var(--gray-dark);
    border: 3px solid var(--yellow);
    background: var(--white);
    clip-path: var(--corner-pixel);
}

.modal-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--yellow);
    color: var(--ghost-white);
    border-bottom: 2px solid var(--yellow);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.pixel-input,
.pixel-textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--yellow);
    background: var(--ghost-white);
    color: var(--gray-dark);
    font-family: inherit;
    clip-path: var(--corner-pixel);

}

.pixel-input:hover,
.pixel-textarea:hover {
    transform: translateY(-2px);
}

.pixel-textarea {
    resize: vertical;
}

.modal-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.close-button {
    border: 3px solid var(--pink-darker);
    background: var(--pink);
    color: var(--gray-dark);
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
    cursor: pointer;

    clip-path: var(--corner-pixel);
}

.close-button:hover {
    background: var(--pink-darker);
}

@media (max-width: 1450px) {
    .homepage {
        width: 95%;
    }
}

@media (max-width: 1000px) {
    .main-layout {
        grid-template-columns: 1fr;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .large-window {
        min-height: 500px;
    }
}