.sidebar-left,
.sidebar-right {
    gap: 1rem;
    display: grid;
}

.main-layout {
    margin-top: 20px;
    display: grid;
    gap: 24px;

    grid-template-columns:
        280px 1fr 280px;
}

.window {
    border: var(--border-primary);
    background: var(--window-background);
    clip-path: var(--corner-pixel);
}

.window-title {
    padding: .5rem;
    background-image:
        repeating-linear-gradient(0deg,
            var(--third-background) 0px,
            var(--third-background) 2px,
            var(--body-pattern-secondary) 2px,
            var(--body-pattern-secondary) 4px);
}

.window-content {
    padding: 20px;
}

.large-window {
    min-height: 700px;
}

.action-button {
    width: 100%;
    padding: .3rem .6rem;
    margin: 8px 0px;
    border: var(--action-button-border);
    background-color: var(--action-button-bg);
    color: var(--action-button-color);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.action-button:hover {
    border: var(--action-button-border);
    background-color: var(--action-button-hover-bg);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.action-button:active {
    transform: translateY(2px);
}

.save-button {
    padding: .3rem .6rem;
    border: var(--save-button-border);
    background: var(--save-button-bg);
    color: var(--save-button-color);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.save-button:hover {
    border: var(--save-button-border);
    background-color: var(--save-button-hover-bg);
    color: var(--save-button-hover-color);
    transform: translateY(-2px);
}

.menu-button {
    width: 100%;
    padding: .2rem .2rem;
    border: var(--menu-button-border);
    color: var(--menu-button-color);
    background: var(--menu-button-bg);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.menu-button:hover {
    background: var(--menu-button-hover-bg);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.cancel-button {
    padding: .2rem .2rem;
    border: var(--cancel-button-border);
    color: var(--cancel-button-color);
    background: var(--cancel-button-bg);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.cancel-button:hover {
    background: var(--cancel-button-hover-bg);
    color: var(--cancel-button-color);
    transform: translateY(-2px);
}

.lists-items .pixel-input {
    width: 9.5rem;
}

.empty-message {
    padding: 30px;
    text-align: center;
    border: var(--empty-message-border);
    background: var(--empty-message-background);
    color: var(--secondary-color);
}

.stat-row {
    margin-bottom: 10px;
}

.modal-actions {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    align-self: flex-end;
}

.p-dialog-mask {
    background-color: #00000048;
}

.p-dialog {
    background-color: var(--dialog-background);
    border: var(--border-primary);
    clip-path: var(--corner-pixel);
    width: 400px;
}

.p-dialog-title {
    background-image:
        repeating-linear-gradient(0deg,
            var(--third-background) 0px,
            var(--third-background) 2px,
            var(--body-pattern-secondary) 2px,
            var(--body-pattern-secondary) 4px);
    padding: 25px;
}

.p-dialog-header-icon {
    border: var(--close-button-border);
    background: var(--close-button-background);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);
    position: absolute;
    right: 10px;
    top: 15px;
    padding: .6rem;
}

.p-dialog-header-icon:hover {
    border: var(--close-button-border);
    background: var(--close-button-hover-background);
    color: var(--primary-color);
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tasks-list {
    padding: .5rem;
    background-image:
        repeating-linear-gradient(0deg,
            var(--third-background) 0px,
            var(--third-background) 2px,
            var(--body-pattern-secondary) 2px,
            var(--body-pattern-secondary) 4px);
}

.tasks-list.task-completed {
    border: var(--list-items-border);
    background:
        repeating-linear-gradient(0deg,
            var(--list-items-background-primary) 0px,
            var(--list-items-background-primary) 2px,
            var(--list-items-background-secondary) 2px,
            var(--list-items-background-secondary) 4px);
}

.complete-button {
    border-top: var(--border-top);
    border-right: var(--border-top);
    border-bottom: var(--border-top);
    border-left: var(--border-left);
    background: var(--checkbox-bg);
    box-shadow:
        inset 0 2px 0 rgba(0, 0, 0, 0.49),
        inset 0 -3px 0 rgba(215, 149, 61, 0.371),
        -2px 0 0 rgba(0, 0, 0, 0.69),
        2px 0 0 rgba(0, 0, 0, 0.307);
    height: 1.5rem;
    width: 1.6rem;
}

.complete-button:hover {
    cursor: pointer;
    background: var(--checkbox-hover-bg);
}

.complete-button.completed {
    background-color: var(--checkbox-hover-bg);
    border-top: var(--border-top-active);
    border-right: var(--border-top-active);
    border-bottom: var(--border-top-active);
    border-left: var(--border-left-active);
}

.complete-button .pi {
    font-size: .6rem;
    font-weight: bold;
}

.task-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--lists-task-color);
    font-weight: 100;
    gap: .5rem;
}

.tasks-list {
    border: var(--border-primary);
    clip-path: var(--corner-pixel);
    margin: 1rem 0rem;
}

.tasks-name {
    width: 100%;
}

.tasks-deadline {
    text-align: right;
}

.delete-button {
    padding: .3rem .3rem;
    height: fit-content;
    align-self: center;
    border: var(--warning-button-border);
    background: var(--warning-button-background);
    color: var(--warning-button-color);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.delete-button:hover {
    background: var(--warning-button-hover-background);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.edit-button {
    padding: .3rem .3rem;
    height: fit-content;
    align-self: center;
    border: var(--save-button-border);
    background: var(--save-button-bg);
    color: var(--menu-button-color);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.edit-button:hover {
    background: var(--save-button-hover-bg);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.lists-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    gap: .5rem;
}

.lists-list {
    width: 100%;
    margin: .3rem .2rem;
}

.edit-field {
    width: 100%;
    padding: .2rem .2rem;
    border: var(--menu-button-border);
    color: var(--menu-button-color);
    background: var(--menu-button-bg);
    clip-path: var(--corner-pixel);
}

.edit-field:hover {
    background: var(--menu-button-hover-bg);
    color: var(--primary-color);
}

.filters-button {
    width: 100%;
    padding: .2rem .2rem;
    margin: .2rem 0rem;
    border: var(--nav-button-color);
    color: var(--nav-button-color);
    background: var(--nav-button-bg);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.filters-button:hover {
    background: var(--nav-button-hover-bg);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.filters-button.selected-filter {
    background-color: red;
}

.filter-dropdown {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list-container .lists-items .pixel-input,
.list-container .lists-items .pixel-textarea {
    width: 100%;
    padding: 0.15rem;
    border-top: var(--lists-input-border-top);
    border-right: var(--lists-input-border-top);
    border-bottom: var(--lists-input-border-top);
    border-left: var(--lists-input-border-left);

    background: var(--lists-input-background-focus);
    box-shadow:
        inset 0 2px 0 rgba(0, 0, 0, 0.49),
        inset 0 -3px 0 rgba(239, 239, 239, 0.603),
        -2px 0 0 rgba(0, 0, 0, 0.69),
        2px 0 0 rgba(0, 0, 0, 0.307);
    color: var(--inputfield-color);
    clip-path: none;
}

.lists-items .pixel-input,
.lists-items .pixel-textarea {
    width: 100%;
    padding: 0.15rem;
    border-top: var(--lists-input-border-top);
    border-right: var(--lists-input-border-top);
    border-bottom: var(--lists-input-border-top);
    border-left: var(--lists-input-border-left);

    background: var(--lists-input-background-focus);
    box-shadow:
        inset 0 2px 0 rgba(0, 0, 0, 0.49),
        inset 0 -3px 0 rgba(239, 239, 239, 0.603),
        -2px 0 0 rgba(0, 0, 0, 0.69),
        2px 0 0 rgba(0, 0, 0, 0.307);
    color: var(--inputfield-color);
    clip-path: none;
}

.pixel-input:hover,
.pixel-textarea:hover {
    background-color: var(--inputfield-hover-bg);
}

.pixel-input:focus,
.pixel-textarea:focus {
    background-color: var(--inputfield-focus-bg);
    border: var(--inputfield-border);

    @media (max-width: 1450px) {
        .homepage {
            width: 95%;
        }
    }

    @media (max-width: 1000px) {
        .main-layout {
            grid-template-columns: 1fr;
        }

        .banner h1 {
            font-size: 2rem;
        }

        .large-window {
            min-height: 500px;
        }
    }