.login-layout {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.login-window {
    width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register-link {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.pixel-input {
    width: 100%;
    padding: 12px;
    border: var(--border-primary);
    background: var(--primary-color);
}

.pixel-input:focus {
    outline: none;
    border: var(--border-primary);
}

.login-form .action-button {
    margin-top: 1rem;
}

.login-window .nav-button {
    display: block;
    text-align: center;
}

@media (max-width: 700px) {
    .login-window {
        width: 100%;
    }
}