.register-layout {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.register-window {
    width: 500px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-link {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-dim);
}

.register-form .action-button {
    margin-top: 1rem;
}

.register-window .nav-button {
    display: block;
    text-align: center;
}

.link-style {
    font-family: var(--font-pixel);
    text-decoration: none;
    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.link-style:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: .7rem;
}

@media (max-width: 700px) {
    .register-window {
        width: 100%;
    }
}