:root {
    --yellow: #ffc759ff;
    --pink: rgb(255, 171, 192);
    --pink-darker: rgb(233, 119, 148);
    --white: #f8f7ff;
    --gray-light: #e8e9edff;
    --gray-dark: #4f4f6b;
    --gray: #7a7a96;

    --border-yellow: 2px solid var(--yellow);
    --corner-pixel: polygon(2px 0,
            calc(100% - 2px) 0,
            calc(100% - 2px) 2px,
            100% 2px,
            100% calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 100%,
            2px 100%,
            2px calc(100% - 2px),
            0 calc(100% - 2px),
            0 2px,
            2px 2px);
}

.register-page {
    width: 1400px;
    margin: 20px auto;
}

.register-layout {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.register-window {
    width: 500px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.login-link {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-dim);
}

.pixel-input,
.pixel-textarea {
    width: 100%;
    padding: 0.25rem;
    border: 2px solid var(--yellow);
    background: var(--ghost-white);
    color: var(--gray-dark);
    font-family: inherit;
    clip-path: var(--corner-pixel);
}

.pixel-input:hover,
.pixel-textarea:hover {
    transform: translateY(-2px);
}

.pixel-input:focus,
.pixel-textarea:focus {
    background-color: #6b674f11;
}

.register-form .action-button {
    margin-top: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.register-window .nav-button {
    display: block;

    text-align: center;
}

.link-style {
    font-weight: 800;
    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

@media (max-width: 1450px) {
    .register-page {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .register-window {
        width: 100%;
    }

    .banner h1 {
        font-size: 2rem;
    }
}