.settings-layout {
    margin-top: 24px;
    display: grid;
    gap: 24px;

    grid-template-columns:
        280px 1fr;
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.settings-link {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.done-task-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.done-task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: var(--border-primary);
    background: var(--third-background);
    clip-path: var(--corner-pixel);
}

.warning-button {
    width: 20%;
    text-decoration: none;
    padding: .3rem .6rem;
    border: var(--warning-button-border);
    color: var(--menu-button-color);
    background: var(--warning-button-background);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.warning-button:hover {
    background: var(--warning-button-hover-background);
    transform: translateY(-2px);
}

.warning-button:active {
    transform: translateY(1px);
}

@media (max-width: 1000px) {
    .settings-layout {
        grid-template-columns: 1fr;
    }
}