* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);

    background-image:
        repeating-linear-gradient(90deg,
            var(--body-pattern-primary) 0px,
            var(--body-pattern-primary) 4px,
            var(--body-pattern-secondary) 4px,
            var(--body-pattern-secondary) 5px);
}


.pixel-input,
.pixel-textarea {
    width: 100%;
    padding: 0.15rem;
    border: var(--inputfield-border);
    background: var(--inputfield-bg);
    color: var(--inputfield-color);
    clip-path: var(--corner-pixel);
}

.pixel-input:hover,
.pixel-textarea:hover {
    background-color: var(--inputfield-hover-bg);
}

.pixel-input:focus,
.pixel-textarea:focus {
    background-color: var(--inputfield-focus-bg);
    border: var(--inputfield-border-focused);
}

.pixel-textarea {
    resize: vertical;
}