* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);

    background-image:
        repeating-linear-gradient(90deg,
            var(--body-pattern-primary) 0px,
            var(--body-pattern-primary) 4px,
            var(--body-pattern-secondary) 4px,
            var(--body-pattern-secondary) 5px);
}

.pixel-input,
.pixel-textarea {
    width: 100%;
    padding: 0.15rem;
    border-top: var(--border-top);
    border-right: var(--border-top);
    border-bottom: var(--border-top);
    border-left: var(--border-left);
    background: var(--checkbox-bg);
    box-shadow:
        inset 0 2px 0 rgba(0, 0, 0, 0.49),
        inset 0 -3px 0 rgba(215, 149, 61, 0.371),
        -2px 0 0 rgba(0, 0, 0, 0.69),
        2px 0 0 rgba(0, 0, 0, 0.307);
    color: var(--inputfield-color);
}

.pixel-input:hover,
.pixel-textarea:hover {
    background-color: var(--inputfield-hover-bg);
}

.pixel-input:focus,
.pixel-textarea:focus {
    background-color: var(--inputfield-focus-bg);
    border: var(--inputfield-border);
}

.pixel-textarea {
    resize: vertical;
}