:root {
    --font-pixel: 'Silkscreen', monospace;
}

.banner h1,
.window-title,
.modal-title-bar,
.nav-button,
.action-button,
.p-dialog-title {
    font-family: var(--font-pixel);
    font-weight: 100;
    text-shadow: var(--logo-header);
}

.banner {
    height: 260px;
    border: 2px solid var(--third-background);
    clip-path: var(--corner-pixel);

    background:
        repeating-linear-gradient(90deg,
            var(--primary-background) 0px,
            var(--primary-background) 30px,
            var(--third-background) 30px,
            var(--third-background) 31px);
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.banner h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--primary-color);

    text-shadow:
        3px 3px 0 var(--secondary-background);
}

.banner p {
    margin: 0;
    color: var(--gray-dark);
    font-size: 1rem;
    letter-spacing: 2px;
}


.page {
    width: 1400px;
    margin: 20px auto;
}

.main-nav {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    width: fit-content;
}

.nav-button {
    text-decoration: none;
    padding: 10px 16px;
    border: 2px solid var(--primary-background);
    background: var(--third-background);
    color: var(--primary-color);
    text-shadow: 1px 1px 0 var(--secondary-background);
    clip-path: var(--corner-pixel);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.nav-button:hover {
    background: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    color: var(--primary-color);
    transform: translateY(-2px);
}

.nav-button:active {
    transform: translateY(1px);
}

@media (max-width: 700px) {

    .banner h1 {
        font-size: 2rem;
    }
}