:root {
    --font-pixel: 'Silkscreen', monospace;
    --button-shadow:
        inset 0 2px 0 rgba(255, 255, 255, 0.7),
        inset 0 -3px 0 rgba(0, 0, 0, 0.2),
        -2px 0 0 rgba(0, 0, 0, 0.15),
        2px 0 0 rgba(0, 0, 0, 0.15);

    --corner-pixel: polygon(2px 0,
            calc(100% - 2px) 0, calc(100% - 2px) 2px,
            100% 2px,
            100% calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 100%,
            2px 100%,
            2px calc(100% - 2px),
            0 calc(100% - 2px),
            0 2px,
            2px 2px);

    --dropdown-corner-pixel: polygon(2px 0,
            calc(100% - 2px) 0, calc(100% - 2px) 2px,
            100% 2px,
            100% calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 100%,
            2px 100%,
            2px calc(100% - 2px),
            0 calc(100% - 2px),
            0 2px,
            2px 2px);
}

a {
    color: var(--link-style);
}

.banner,
.modal-title-bar,
.logout-button {
    font-family: var(--font-pixel);
    font-weight: 600;
    color: var(--secondary-color);
}

.action-button,
.menu-button,
.task-item,
.p-dropdown-panel,
.register-form,
.login-form,
.task-form,
.save-button,
.window,
.nav-button,
.warning-button,
.p-dialog {
    font-weight: 100;
    font-family: var(--font-pixel);
    color: var(--secondary-color);
}

.nav-button,
.action-button,
.menu-button,
.save-button,
.p-dropdown-panel,
.logout-button,
.warning-button,
.delete-button {
    cursor: pointer;
}

.banner {
    height: 260px;
    border: var(--border-primary);
    clip-path: var(--corner-pixel);

    background:
        repeating-linear-gradient(90deg,
            var(--logo-pattern-primary) 0px,
            var(--logo-pattern-primary) 1px,
            var(--logo-pattern-secondary) 1px,
            var(--logo-pattern-secondary) 51px);
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.banner h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--primary-color);
    text-shadow: var(--logo-header-shadow);
}

.banner p {
    margin: 0;
    color: var(--gray-dark);
    font-size: 1rem;
    letter-spacing: 2px;
}

.page {
    width: 1400px;
    margin: 20px auto;
}

.main-nav {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    width: fit-content;
}

.nav-button {
    text-decoration: none;
    padding: .3rem .6rem;
    border: var(--nav-button-border);
    color: var(--nav-button-color);
    background: var(--nav-button-bg);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.nav-button:hover {
    background: var(--nav-button-hover-bg);
    color: var(--nav-button-hover-color);
    transform: translateY(-2px);
}

.nav-button:active {
    transform: translateY(1px);
}

@media (max-width: 700px) {
    .banner h1 {
        font-size: 2rem;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.p-dropdown {
    text-decoration: none;
    border: var(--action-button-border);
    background: var(--dropdown-background);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);
    padding: .3rem .6rem;
}

.p-dropdown:hover {
    border: var(--action-button-border);
    background: var(--dropdown-hover-background);
    border: 2px solid var(--dropdown-focus-background);
    color: var(--primary-color);
}

.p-dropdown:active {
    background: var(--dropdown-focus-background);
    border: 2px solid var(--dropdown-focus-background);
}

.p-dropdown-label {
    padding: 0rem 2rem 0rem 0rem;
}

.p-dropdown-panel {
    color: var(--primary-color);
    background-color: var(--dropdown-background);
    text-shadow: 1px 1px 0 var(--secondary-background);
    border: var(--action-button-border);
    clip-path: var(--corner-pixel);
}

.p-dropdown-item {
    padding: .5rem;
    background-color: var(--dropdown-background);
}

.p-dropdown-item:hover {
    background-color: var(--dropdown-item-hover);
    border: var(--dropdown-item-border-hover);
    background: var(--dropdown-item-hover);
    text-shadow: 1px 1px 0 var(--secondary-background);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);
}

.theme-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.logout-button {
    text-decoration: none;
    padding: .3rem .6rem;
    border: var(--action-button-border);
    color: var(--action-button-color);
    background: var(--action-button-bg);
    clip-path: var(--corner-pixel);
    box-shadow: var(--button-shadow);

    transition:
        transform 0.1s ease,
        background-color 0.1s ease;
}

.logout-button:hover {
    background: var(--action-button-hover-bg);
    color: var(--nav-button-hover-color);
    transform: translateY(-2px);
}

.logout-button:active {
    transform: translateY(1px);
}