.theme-pastel {
    --body-pattern-primary: rgb(248, 237, 237);
    --body-pattern-secondary: #ebdbbb;

    --logo-pattern-primary: rgb(168, 86, 14);
    --logo-pattern-secondary: #f69eb6;
    --logo-header: #ffe8b2;
    --logo-header-shadow: 3px 3px 0 var(--logo-pattern-primary);

    --primary-background: rgb(255, 171, 192);
    --primary-color: #f7f6ea;

    --secondary-background: rgb(233, 119, 148);
    --secondary-color: #424252;

    --third-background: rgb(252, 194, 78);

    --border-primary: 2px solid rgb(214, 151, 15);

    --window-background: #f7f6ea;

    --dialog-background: rgb(243, 237, 225);

    --link-style: rgb(223, 98, 152);

    --empty-message-background: rgb(246, 240, 233);
    --empty-message-border: 2px dashed rgb(241, 185, 111);

    --nav-button-bg: rgb(241, 201, 90);
    --nav-button-color: #614319;
    --nav-button-hover-bg: rgb(200, 130, 17);
    --nav-button-hover-color: #f8f7ff;
    --nav-button-border: 2px solid rgb(161, 104, 14);

    --action-button-bg: rgb(246, 166, 186);
    --action-button-color: #323242;
    --action-button-hover-bg: rgb(222, 111, 139);
    --action-button-border: 2px solid rgb(233, 119, 148);

    --save-button-bg: rgb(178, 212, 120);
    --save-button-color: #323242;
    --save-button-hover-bg: rgb(122, 158, 77);
    --save-button-hover-color: #f8f7ff;
    --save-button-border: 2px solid rgb(80, 117, 33);

    --menu-button-bg: rgb(178, 212, 120);
    --menu-button-color: #323242;
    --menu-button-hover-bg: rgb(122, 158, 77);
    --menu-button-border: 2px solid rgb(74, 103, 36);

    --inputfield-bg: #f3eeeb;
    --inputfield-color: #322911;
    --inputfield-hover-bg: #bb75242d;
    --inputfield-focus-bg: #a1762013;
    --inputfield-border: 2px solid var(--third-background);

    --dropdown-background: rgb(230, 134, 160);
    --dropdown-hover-background: rgb(187, 102, 124);
    --dropdown-focus-background: rgb(146, 71, 91);
    --dropdown-item-hover: rgb(174, 79, 104);
    --dropdown-item-border-hover: 2px solid rgb(131, 35, 57);

    --close-button-background: rgb(230, 134, 160);
    --close-button-hover-background: rgb(201, 69, 104);
    --close-button-border: 2px solid rgb(167, 30, 62);

    --warning-button-background: #9d2626;
    --warning-button-color: white;
    --warning-button-hover-background: #861f14;
    --warning-button-border: 2px solid #770d06;
}

.theme-dark {
    --body-pattern-primary: rgb(76, 92, 53);
    --body-pattern-secondary: #7e6542;

    --third-background: rgb(93, 76, 44);

    --primary-background: rgb(97, 65, 45);
    --secondary-background: rgb(196, 167, 117);

    --secondary-color: #ece8d0;
    --primary-color: #eee9dd;

    --border-primary: 2px solid rgb(152, 124, 66);

    --logo-pattern-primary: rgb(104, 65, 31);
    --logo-pattern-secondary: #c19054;
    --logo-header: #dbc593;
    --logo-header-shadow: 1px 1px 0 var(--primary-color);

    --window-background: rgb(86, 67, 44);

    --dialog-background: rgb(70, 57, 34);

    --link-style: rgb(129, 209, 89);

    --empty-message-background: rgb(121, 95, 63);
    --empty-message-border: 2px dashed rgb(194, 144, 57);

    --nav-button-bg: rgb(207, 144, 48);
    --nav-button-color: #5a3c12;
    --nav-button-hover-bg: rgb(134, 93, 32);
    --nav-button-hover-color: #f8f7ff;
    --nav-button-border: 2px solid rgb(101, 75, 12);

    --action-button-bg: rgb(158, 160, 71);
    --action-button-color: #323242;
    --action-button-hover-bg: rgb(109, 113, 40);
    --action-button-border: 2px solid rgb(58, 76, 28);

    --save-button-bg: rgb(78, 99, 39);
    --save-button-color: #f6f3ea;
    --save-button-hover-bg: rgb(48, 76, 16);
    --save-button-hover-color: #f8f7ff;
    --save-button-border: 2px solid rgb(40, 61, 13);

    --menu-button-bg: #5f7738;
    --menu-button-color: #e3ddce;
    --menu-button-hover-bg: #426219;
    --menu-button-border: 2px solid rgb(59, 87, 23);

    --inputfield-bg: #28190e31;
    --inputfield-color: #e3ddce;
    --inputfield-hover-bg: #392d13c2;
    --inputfield-focus-bg: #302106a2;
    --inputfield-border: 2px solid rgb(157, 133, 82);

    --dropdown-background: #5f7738;
    --dropdown-hover-background: #435721;
    --dropdown-focus-background: #334c0b;
    --dropdown-item-hover: #334812;
    --dropdown-item-border-hover: 2px solid #5f7738;

    --close-button-background: #5f7738;
    --close-button-hover-background: #435721;
    --close-button-border: 2px solid #3f5817;

    --warning-button-background: #9d2626;
    --warning-button-color: white;
    --warning-button-hover-background: #861f14;
    --warning-button-border: 2px solid #770d06;

    --list-items-background-primary: rgb(61, 42, 12);
    --list-items-background-secondary: rgb(86, 71, 8);
    --list-items-border: 2px solid rgb(39, 32, 2);

    --checkbox-bg: rgb(154, 108, 38);
    --checkbox-hover-bg: rgb(91, 60, 15);

    --border-top: 2px solid rgb(149, 107, 23);
    --border-left: 2px solid rgb(62, 46, 13);

    --border-top-active: 2px solid rgb(116, 83, 17);
    --border-left-active: 2px solid rgb(37, 26, 5);
}

.theme-retro {
    --body-pattern-primary: #1a1a20;
    --body-pattern-secondary: #121239;

    --third-background: #6E1F98;

    --primary-background: #D5306C;
    --secondary-background: #D5306C;

    --secondary-color: #ece8d0;
    --primary-color: #eee9dd;

    --border-primary: 2px solid #de3f2a;

    --logo-pattern-primary: #FFBD42;
    --logo-pattern-secondary: #1F1F9E;
    --logo-header: #6E1F98s;
    --logo-header-shadow: 1px 1px 0 var(--primary-color);

    --window-background: rgb(33, 30, 27);

    --dialog-background: rgb(27, 26, 24);

    --link-style: rgb(129, 209, 89);

    --empty-message-background: rgb(41, 38, 34);
    --empty-message-border: 2px dashed rgb(221, 146, 17);

    --nav-button-bg: #FF5D38;
    --nav-button-color: #f7f1e6;
    --nav-button-hover-bg: #be3516;
    --nav-button-hover-color: #f8f7ff;
    --nav-button-border: 2px solid #b6381b;

    --action-button-bg: #D5306C;
    --action-button-color: #e5e5f2;
    --action-button-hover-bg: #a51147;
    --action-button-border: 2px solid rgb(87, 6, 56);

    --save-button-bg: rgb(134, 194, 22);
    --save-button-color: #23211b;
    --save-button-hover-bg: rgb(48, 76, 16);
    --save-button-hover-color: #f8f7ff;
    --save-button-border: 2px solid rgb(40, 61, 13);

    --menu-button-bg: #FFBD42;
    --menu-button-color: #282622;
    --menu-button-hover-bg: #bd8721;
    --menu-button-border: 2px solid rgb(87, 60, 23);

    --inputfield-bg: rgb(41, 38, 34);
    --inputfield-color: #e3ddce;
    --inputfield-hover-bg: rgb(29, 26, 22);
    --inputfield-focus-bg: rgb(22, 18, 13);
    --inputfield-border: 2px solid #FFBD42;

    --dropdown-background: #D5306C;
    --dropdown-hover-background: #b3114c;
    --dropdown-focus-background: #7b0732;
    --dropdown-item-hover: #a51348;
    --dropdown-item-border-hover: 2px solid #7d0833;

    --close-button-background: #FF5D38;
    --close-button-hover-background: #b42c0e;
    --close-button-border: 2px solid #7d1c06;

    --warning-button-background: #9d2626;
    --warning-button-color: white;
    --warning-button-hover-background: #861f14;
    --warning-button-border: 2px solid #770d06;
}