.theme-pastel {
    --body-pattern-primary: rgb(248, 237, 237);
    --body-pattern-secondary: #f4cd80;

    --primary-background: rgb(255, 171, 192);
    --primary-color: #f7f6ea;

    --secondary-background: rgb(233, 119, 148);
    --secondary-color: #323242;

    --third-background: rgb(252, 194, 78);
    --fourth-background: rgb(207, 133, 7);

    --logo-header: #ffe8b2;
    --logo-header-shadow: 1px 1px 0 var(--secondary-background);
    --subheader-shadow: 1px 2px 0px rgb(180, 83, 34);

    --border-primary: 2px solid rgb(214, 151, 15);

    --action-button-bg: rgb(230, 127, 153);
    --action-button-color: #323242;
    --action-button-hover-bg: rgb(192, 65, 97);
    --action-button-hover-color: #f8f7ff;
    --action-button-border: 2px solid rgb(233, 119, 148);

    --save-button-bg: rgb(178, 212, 120);
    --save-button-color: #323242;
    --save-button-hover-bg: rgb(122, 158, 77);
    --save-button-hover-color: #f8f7ff;
    --save-button-border: 2px solid rgb(80, 117, 33);

    --menu-button-bg: rgb(178, 212, 120);
    --menu-button-color: #323242;
    --menu-button-hover-bg: rgb(122, 158, 77);
    --menu-button-hover-color: #f8f7ff;
    --menu-button-border: 2px solid rgb(74, 103, 36);

    --inputfield-bg: #f3eeeb;
    --inputfield-color: #322911;
    --inputfield-hover-bg: #bb75242d;
    --inputfield-focus-bg: #a1762013;
    --inputfield-border: 2px solid var(--third-background);
    --inputfield-border-focused: 2px solid rgb(216, 130, 37);

    --dropdown-background: ;
    --dropdown-hover-background: rgb(206, 128, 149);
    --dropdown-focus-background: rgb(146, 71, 91);
    --dropdown-item-hover: rgb(206, 128, 149);
}

.theme-dark {
    --body-pattern-primary: rgb(92, 68, 53);
    --body-pattern-secondary: #7e6542;

    --third-background: rgb(143, 111, 53);
    --fourth-background: rgb(98, 74, 33);

    --primary-background: rgb(97, 65, 45);
    --primary-color: #2c281f;
    --border-primary: 2px solid rgb(152, 124, 66);

    --secondary-background: rgb(196, 167, 117);
    --secondary-color: #e4dcc4;

    --logo-header: #dbc593;
    --logo-header-shadow: 1px 1px 0 var(--primary-color);
    --subheader-shadow: 1px 2px 0px rgb(142, 98, 24);

    --action-button-bg: #dbc593;
    --action-button-color: #323242;
    --action-button-hover-bg: rgb(140, 115, 81);
    --action-button-hover-color: #f8f7ff;
    --action-button-border: 2px solid rgb(130, 95, 37);

    --save-button-bg: rgb(178, 212, 120);
    --save-button-color: #323242;
    --save-button-hover-bg: rgb(122, 158, 77);
    --save-button-hover-color: #f8f7ff;
    --save-button-border: 2px solid rgb(80, 117, 33);

    --menu-button-bg: #633f25;
    --menu-button-color: #e3ddce;
    --menu-button-hover-bg: #9d7342;
    --menu-button-hover-color: #252422;
    --menu-button-border: 2px solid rgb(74, 103, 36);

    --inputfield-bg: #28190e00;
    --inputfield-color: #e3ddce;
    --inputfield-hover-bg: #bb752428;
    --inputfield-hover-color: #d094115c;
    --inputfield-focus-bg: #674a108c;
    --inputfield-border: 2px solid rgb(139, 117, 69);

    --window-border: 2px solid rgb(53, 39, 8);
}

.theme-retro {}